@CHARSET "UTF-8";

div.crunchoff{
	position:relative;
	top:100px;
}
iframe{
	width: 100%;
}

#vs{
	position: relative;
}

ul#footer{
	position:relative;
	top:100px;
	list-style-type: none;
	margin:0;
	padding:0;
	
}
ul#footer li{
	margin:0;
	padding:0;
	display:inline-block;
}
