@CHARSET "UTF-8";

/********************************************************
Crunch-Off General
********************************************************/
div.row:nth-child(odd){
	background-color:black;
	color:white;
}



body{
	margin:0;
	padding:0;
	min-width:757px;
}



/********************************************************
Crunch-Off Header - Header
********************************************************/

/********************************************************
Crunch-Off Header - Iframes
********************************************************/

div.row{
	position:relative;
	top:175px;
}

div.row div.col{
	display:block;
	width:45%;
	position:relative;
	float:left;
}

div.row div.vsPic{
	width:10%;
	float:left;
	position:relative;
}
div.row div.vsPic img{
	width:100%;
}

div.row div.col iframe.SC_player{
	display:block;
	position:relative;
	margin:30px auto 0;
}

div.row div.col form input{
	display:block;
	margin-right:auto;
	margin-left:auto;
}

div.row div.col p{
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}
